snippet div
<div>
	${0:{VISUAL}}
</div>
endsnippet

snippet div. "div with class"
<div class="$1">
	${0:${VISUAL}}
</div>
endsnippet

snippet div# "div with id"
<div id="$1">
	${0:${VISUAL}}
</div>
endsnippet

snippet div.# "div with id and class"
<div id="$1" class="$2">
	${0:${VISUAL}}
</div>
endsnippet
