snippet div
<div>
	${0:{VISUAL}}
</div>
endsnippet

snippet div.
<div class="$1">
	${0:${VISUAL}}
</div>
endsnippet

snippet div#
<div id="$1">
	${0:${VISUAL}}
</div>
endsnippet

snippet div.#
<div id="$1" class="$2">
	${0:${VISUAL}}
</div>
endsnippet
